html{
	background-image: url(fondo.jpg) ;
	font-size: 16px;
  	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: center;
}
.container{
	margin-left: 4em;
	position: relative;
	display: block;
}
.logo img{
	width: 200px;
	margin-top: 1em;
	padding-left: 2em;

}
.descripcion{
	font-family: 'Open Sans', sans-serif;
	color: white;
	position: relative;
	display: block;
	font-size: 3em;
	margin-top: 0.5em;
	text-align: center;
	width: 300px;

}
.stores{

	bottom: 10%;
	position: absolute;
	
}
.ios{
	display: inline-block;

}

.android{
	display: inline-block;
}
.wp{
	display: inline-block;

}
.black{
	font-weight: bold;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.logo img{
		width: 150px;
		padding-left: 2.5em;

	}
	.stores{

		bottom: 10%;
		position: absolute;
		margin-bottom: 1em;
		padding-left: 3em;
	}
	.descripcion{
		font-size: 2em;
		width: 250px;

	}
}


@media only screen and (min-width: 360px) and (max-width: 767px) {
	.container{
		padding-left: 0em;
	}
	.descripcion{
		font-size: 2em;
		/*text-align: center;*/
		width: 250px;
	}
	.logo img{
		width: 150px;
		padding-left: 2.5em;

	}
	.stores{
		bottom: 0;
		position: relative;
		margin-bottom: 1em;
		padding-left: 2em;
	}
	.ios{
		display: block;
		margin-top: 0.5em; 
		padding-left: 3em;


	}
	.ios img{
		width: 200px;
	}
.android{
		padding-left: 3em;
		display: block;
		margin-top: 0.2em; 
	}
	.android img{
		width: 200px;
	}
.wp{
		padding-left: 3em;
		display: block;
		margin-top: 0.2em; 

	}
	.wp img{
		width: 200px;
	}
}